#highScoreList {
  list-style: none;
  margin-bottom: 4rem;
  padding-left: 0;
}
.highScore {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.highScore:hover {
  transform: scale(1.025);
  cursor: pointer;
}
